@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KeeponTruckin";
  src: url("../src/assets/KeeponTruckin.ttf") format("truetype");
}

@font-face {
  font-family: "SFProTH";
  src: url("../src/assets/SF-Pro-Text-Medium.otf") format("truetype");
}

body {
  margin: 0;
  border-color: #f8fafc;
  color: '#0f172a';
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    
    background: #fff;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0ea5e9;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0ea5e9;
  }
}

